@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
    font-family: Inter, sans-serif;
}

main {
    background-color: hsl(0, 0%, 12%);
    margin: 0 auto;
    width: 20.5rem;
    border-radius: .75rem;
    padding: 1.5rem 1rem;
    text-align: center;
}

img {
    display: block;
    border-radius: 99rem;
    width: 5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

address {
    font-style: normal;
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: .5rem;
}

address p {
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}

p {
    font-size: 14px;
}